<!DOCTYPE html>
<html>

<head th:replace="fragments/base.html :: headerfiles(title='Buffets')">
	<meta charset="UTF-8" />
</head>

<body>
	<header th:replace="fragments/base.html :: intestazioneAdmin"></header>

	<div>
		<a th:href="@{/admin/buffetForm}">Inserisci buffet</a>
	</div>

	<h2>Lista dei buffets (numero buffet: <span th:text="${#lists.size(buffets)}"></span> )</h2>

	<table class="tabella">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Descrizione</th>
				<th colspan="2">Edit</th>
			</tr>
		</thead>
		<tbody>
			<!--se non ci sono buffets scrivi su tutta la riga-->
			<tr th:if="${buffets.isEmpty()}">
				<td colspan="3"> Non ci sono buffets </td>
			</tr>
			<!--se ci sono dei buffets, itera su tutti i buffets con for-each-->
			<tr th:each="buffet : ${buffets}">
				<td>
					<a href="admin/buffet.html" th:href="@{'/admin/buffet' + '/' + ${buffet.id}}"
						th:text="${buffet.nome}">nome</a>
				</td>
				<td th:text="${buffet.descrizione}">descrizione
				</td>

				<td><a href="admin/buffet.html" th:href="@{'/admin/toDeleteBuffet'+'/'+${buffet.id}}"
						th:text="cancella">cancella</a>
				</td>
				<td><a href="admin/buffet.html" th:href="@{'/admin/modificaBuffet'+'/'+${buffet.id}}"
						th:text="modifica">modifica</a>
				</td>
			</tr>

		</tbody>
	</table>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>

</html>