<!DOCTYPE html>
<html>

<head th:replace="fragments/base.html :: headerfiles(title='To delete Piatto')">
	<meta charset="UTF-8" />
</head>

<body>
	<header th:replace="fragments/base.html :: intestazioneAdmin"></header>
	<h1>Piatto da rimuovere:</h1>
	<div><span th:text="${Piatto.nome}">nome</span>
		<span th:text="${Piatto.descrizione}">descrizione</span>
	</div>  
	<div> <a href="Piatto.html" th:href="@{'/admin/deletePiatto'+'/'+${Piatto.id}}" th:text="CONFERMA">CONFERMA</a>
	</div>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>

</html>